### Week 1 Homework
##### Angela Spencer - 12/8/2021

#### 1.	What scale of measurement applies to timeseries data? Is timeseries data continuous or discrete? Why?

Timeseries data is measured in an interval scale, it is numeric and the values have specific order and spacing such as hours, days, or years. Timeseries data is usually discrete because observations are made at specific intervals rather than constantly.

#### 2.	What does ARIMA stand for? Break down and explain each piece in the name.

ARIMA stands for AutoRegression, order of Integration, Moving Average - it is a linear regression model that performs three types of analysis on the data:
-Autoregression: uses past events to predict future ones by finding correlations between lags  
-Order of Integration: used to make a series stationay
-Moving Average: creates a average value that is constantly adjusting based on new information

#### 3.	Using the data in the temperatures/ folder. Write a function that efficiently converts every column to a different temperature scale: one that is more common than Kelvin.

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
#import csv as dataframe, parse date to datetime, set index to date column
kelvin_df = pd.read_csv('temperature.csv', parse_dates=True, index_col='datetime')
kelvin_df.shape

(45253, 36)

In [3]:
#drop rows with NaN values
kelvin_df_dropped = kelvin_df.dropna()
kelvin_df_dropped.shape

(44430, 36)

In [5]:
#define function that accepts df and converts kelvin values to celsius, returning a new df
celsius_conversion = round(kelvin_df_dropped.apply(lambda num: num-273.15),2)

fahrenheit_conversion = round(kelvin_df_dropped.apply(lambda x: (x-273.15)*9/5+32),2)

print(kelvin_df_dropped.iloc[0,0])
print(celsius_conversion.iloc[0,0])
print(fahrenheit_conversion.iloc[0,0])

284.63
11.48
52.66

#### 4.	Write a function that efficiently fills in missing values in every column, excluding trailing NANs. That is: if there's temperature data on either side of a timestamp, it should interpolate through it. But if data stopped being collected, your function should leave nans at the end.

In [14]:
#use .interpolate to fill non-trailing NaNs
kelvin_df_interpolate = kelvin_df.interpolate(limit_area='inside')

#print total number of NaNs in new df and before interpolation
print(kelvin_df_interpolate.isna().sum().sum())
print(kelvin_df.isna().sum().sum())

7955
8030

#### 5.	Find all cities A and B where city A is warmer than city B in the summer, but also colder than city B in the winter, on average.

In [45]:
kelvin_df.head(3)

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
2012-10-01 13:00:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,284.610000,...,285.630000,288.220000,285.83000,287.170000,307.59,305.47,310.580000,304.4,304.4,303.5
2012-10-01 14:00:00,284.629041,282.083252,289.474993,281.797217,291.868185,291.533501,293.403141,296.608509,285.154558,284.607305,...,285.663208,288.247676,285.83465,287.186092,307.59,304.31,310.495769,304.4,304.4,303.5

In [53]:
#2012-10-01-12:00:00 min
#2017-11-30-00:00:00 max

#isolate summer months and winter months in unique series
summer_months = fahrenheit_conversion.loc[fahrenheit_conversion.index.month.isin([6,7,8])]
winter_months = fahrenheit_conversion.loc[fahrenheit_conversion.index.month.isin([12,1,2])]

#calculate mean of each series to find mean temperature for that season
summer_months_avg = summer_months.mean()
winter_months_avg = winter_months.mean()

#create a new dataframe with summer and winter averages
seasonal_avg_df = pd.concat(
    [summer_months_avg.rename("Summer Average"), 
     winter_months_avg.rename("Winter Average")], axis=1)
seasonal_avg_df.head(3)

               Summer Average  Winter Average
Vancouver           64.618817       38.753053
Portland            67.117580       40.123098
San Francisco       65.733608       51.241873

In [ ]:
#create a loop that compares the summer avg 
for index, col in seasonal_avg_df['Summer Average']:
    if

#### 6.	For two of the cities you found in question 5 (there are many possible answers), clean up the data via rolling averages and plot a clear visual. Explain how rolling average differs from moving average (MA) model.

#### 7.	Perform SARIMA on five cities, iterating through the cities programmatically. Explain your results.

#### a.	Graph the predicted values 30 days out.

#### 8.	Explain what you see when you perform results.summary() on the cities in question 7.

#### DataCamp Certificate

#### Bonus: What do GARCH and ARCH Stand for? Break down and explain each piece in the names. Explain the difference between the two. Create a GARCH and ARCH model on the same 5 cities from question 6. Explain and graph the results.